<section id='ask-form' class='container'>
  <form
    hx-post='/initial-ask'
    hx-target='#ask-form'
    hx-swap='outerHTML'
    hx-indicator='#global-loading-spinner'
  >
    {{> form-values }}
  </form>
</section>
