{{#each chats}}
  <li>
    <a
      class='internal-link'
      hx-get='/chat/{{id}}'
      hx-target='#main'
      hx-swap='innerHTML'
    >
      {{title}}...
    </a>
  </li>
{{/each}}

{{#if nextOffset}}
  <li id='load-more-container' class='centered'>
    <button
      class='contrast outline small-button load-more-button'
      hx-get='/chat-history?offset={{nextOffset}}'
      hx-target='#load-more-container'
      hx-swap='outerHTML'
    >
      Load More
    </button>
  </li>
{{/if}}
