<section id='chat' class='container'>
  <div id='chat-messages' class='chat-container'>
    <div class='message sent'>
      I'm doing great, thanks for asking! Just working on this chat UI. How
      about you?
    </div>

    <div class='message received'>
      Pretty good! I'm glad to see it's coming along so well. The bubbles look
      perfect. 👌
    </div>
  </div>

  <form>
    <fieldset role='group'>
      <input
        name='chat-question'
        type='text'
        placeholder='Ask me anything'
        aria-label='ask me anything'
        required
      />
      <input type='submit' value='Ask' />
    </fieldset>
  </form>

  <a hx-get='new-chat' hx-target='#chat' hx-swap='outerHTML'>new chat</a>
</section>
