{{#if chats.length}}
  {{> chat-list-items }}

  {{#if nextOffset}}
    <li id='load-more-container'>
      <button
        class='contrast outline small-button load-more-button'
        hx-get='/chat-history?offset={{nextOffset}}'
        hx-target='#load-more-container'
        hx-swap='outerHTML'
      >
        Load More
      </button>
    </li>
  {{/if}}

{{else}}
  <li>No chats yet...</li>
{{/if}}
