{{#if chats.length}}
  {{#each chats}}
    <li>
      <a
        class='internal-link'
        hx-get='/chat/{{id}}'
        hx-target='#main'
        hx-swap='innerHTML'
      >
        {{title}}...
      </a>
    </li>
  {{/each}}
{{else}}
  <li>No chats yet...</li>
{{/if}}
