<hgroup>
  <h2>Create an account</h2>
</hgroup>
<div class='grid'>
  <div class='col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4'>
    <form action='/register' method='post' hx-boost='false'>
      {{#if errorMessage}}
        <p aria-invalid='true' role='alert'>{{errorMessage}}</p>
      {{/if}}
      {{csrfField}}
      <input
        type='text'
        name='username'
        placeholder='Username'
        aria-label='Username'
        autocomplete='username'
        required
      />
      <input
        type='password'
        name='password'
        placeholder='Password'
        aria-label='Password'
        autocomplete='password'
        required
      />
      <input
        type='password'
        name='confirm-password'
        placeholder='Confirm Password'
        aria-label='Confirm Password'
        autocomplete='password'
        required
      />
      <button type='submit'>Create account</button>

      <div class='centered'>
        <a
          class='internal-link'
          hx-get='login-form'
          hx-target='#login-form'
          hx-swap='innerHTML'
        >
          Already have an account? Login
        </a>
      </div>
    </form>
  </div>
</div>
