<button id='menu-btn'>☰</button>

<nav
  id='drawer'
  class='drawer'
  hx-get='/chat-history'
  hx-target='.chat-list'
  hx-trigger='revealed'
>
  <ul class='chat-list'>
    <li>Loading chats...</li>
  </ul>
</nav>
