{{! Logo at the top }}
<img src='/static/beet_logo_400x400.png' alt='Beet AI' class='drawer-logo' />

{{! User Status/Auth Link Area (HEADER) }}
<div class="user-auth-area centered">
  {{#if user}}
    <div class="login-container">
      Welcome, <strong>{{user.username}}</strong>
    </div>
  {{/if}}
</div>

{{! 2. Chat List Container (SCROLLABLE MIDDLE SECTION) }}
<div class='chat-list-scroll-area' style="margin-top: 1rem;">
  <ul class='chat-list'>
    {{! The chat list titles are now defined in chat-list.hbs and injected/rendered below }}
    {{#if user}}
      {{#if chats.length}}
        {{> chat-list chats=chats }}
      {{else}}
        <li><a href='#'>No chats yet...</a></li>
      {{/if}}
    {{else}}
      <li><a href='/login'>Log in to view chat history.</a></li>
    {{/if}}
  </ul>
</div>

<div class='centered new-chat-button-wrapper'>
    {{> new-chat-button}}
</div>

<div class='drawer-footer centered'>
  {{#if user}}
    <form hx-post='/logout' hx-target='body' hx-swap='innerHTML' style='padding: 0 1rem;'>
      <button type='submit' class='contrast outline small-button'>
        Logout
      </button>
    </form>
  {{else}}
    <div class="login-button-wrapper">
      {{> login-button }}
    </div>
  {{/if}}
</div>
