<a class='internal-link' id='menu-open-btn'>»</a>

<nav
  id='drawer'
  class='drawer'
  hx-get='/chat-history'
  hx-target='.chat-list'
  hx-trigger='revealed'
>
  <ul class='chat-list'>
    <li>Loading chats...</li>
  </ul>

  <a class='internal-link' id='menu-close-btn'>«</a>
</nav>
