<button id='menu-btn'>☰ Menu</button>

<nav id='drawer'>
  <ul>
    <li><a href='/' hx-get='/' hx-target='main'>Home</a></li>
    <li><a href='/about' hx-get='/about' hx-target='main'>About</a></li>
    <li><a href='/contact' hx-get='/contact' hx-target='main'>Contact</a></li>
  </ul>
</nav>
