<nav id='drawer' class='drawer'>
  <div id='drawer-content-wrapper'>
    {{! Initial state: Show a spinner until the drawer is revealed }}
    <div class='loading-indicator' style='padding: 20px; text-align: center;'>
      <progress></progress>
      <p style='margin-top: 10px;'>Loading...</p>
    </div>
  </div>

  <a class='internal-link' id='menu-close-btn'>«</a>
</nav>
