<fieldset role='group'>
  <input
    name='chat-question'
    type='text'
    placeholder='Ask me anything'
    aria-label='ask me anything'
    required
  />
  <input type='submit' value='Ask' />
</fieldset>

<select id='model-select' name='model' aria-label='Select' required>
  {{#each modelGroups}}
    <option disabled value=''>{{this.groupName}}:</option>
    {{#each this.models}}
      <option{{#if this.selected}} selected{{/if}} {{#if this.disabled}} disabled{{/if}} value='{{this.value}}'>{{this.label}}</option>
    {{/each}}
    {{#unless @last}}

    {{/unless}}
  {{/each}}
</select>

{{csrfField}}

