<form
  hx-post='/new-ask/{{id}}'
  hx-target='#chat-messages'
  hx-swap='beforeend'
  hx-indicator='#global-loading-spinner'
  onhtmx:afterOnLoad='this.reset()'
>
  {{> form-values}}
</form>

<div id='new-chat-top-btn'>
    {{> new-chat-button }}
</div>


