<html lang='en'>
  {{> head}}
  <body>
    <div class="chat-loading-indicator" id='global-loading-spinner'>
      <div>
        <progress></progress>
        <em>Thinking...</em>
      </div>
    </div>

    <div class="chat-loading-indicator" id='generating-response-spinner'>
      <div>
        <progress></progress>
        <em>Genrating response...</em>
      </div>
    </div>

    <main id='main'>
      <div class='greeting'>
        <img src='/static/beet_logo.png' alt='Beet AI' class='home-page-logo' />
        <p>Welcome to <strong>Beet</strong></p>
        <p>An ultra-lightweight AI chatbot</p>
        <p>Built for speed and performance - Powered by open-source LLMs</p>
        <a target='_blank' href='https://github.com/zoeydawn/beet'>Learn more</a>
      
        {{> ask-form}}
      </div>
    </main>


    {{! Render the footer partial }}
    {{> footer}}

    {{> drawer}}
    {{> sidebar}}

  </body>


  <!-- JS files -->
  <script type="module" src="/static/js/message-stream.js"></script>
  <script src="/static/js/utils.js"></script>   <!-- helpers -->
  <!-- <script src="/js/sse.js"></script>     <!- streaming logic -> -->
  <!-- <script src="/js/chat.js"></script>    <!- chat logic -> -->
  <!-- <script src="/js/main.js"></script>    <!- global init -> -->
</html>
