<main>
  <section id='ask-form' class='container'>

    <!-- initial question form -->
    <form>
      <fieldset role='group'>
        <input
          name='initial-question'
          type='text'
          placeholder='Ask me anything'
          aria-label='ask me anything'
          required
        />
        <input type='submit' value='Ask' />
      </fieldset>

      <fieldset role='group'>
        <label for='llama3-2'>
          <input
            type='radio'
            id='llama3-2'
            name='model'
            value='llama3-2'
            checked
          />
          Llama 3.2
        </label>
        <label for='gemma3'>
          <input type='radio' id='gemma3' name='model' value='gemma3' />
          Gemma 3
        </label>
        <label for='deepseek-r1'>
          <input
            type='radio'
            id='deepseek-r1'
            name='model'
            value='deepseek-r1'
          />
          DeepSeek-R1
        </label>
      </fieldset>
    </form>
    <!-- ./ initial question form -->

  </section>
</main>
