<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <!-- <meta name='color-scheme' content='light dark' /> -->
    <link rel='stylesheet' href='static/pico.fuchsia.min.css' />
    <link rel='stylesheet' href='static/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.2"></script>
    <title>{{title}}</title>
  </head>
  <body>
    {{! Render the header partial }}
    {{! > header}}

    <main id='main'>
      {{> ask-form}}
    </main>


    {{! Render the footer partial }}
    {{> footer}}

    {{> drawer}}

  </body>


  <!-- JS files -->
  <script type="module" src="/static/js/message-stream.js"></script>
  <script src="/static/js/utils.js"></script>   <!-- helpers -->
  <!-- <script src="/js/sse.js"></script>     <!- streaming logic -> -->
  <!-- <script src="/js/chat.js"></script>    <!- chat logic -> -->
  <!-- <script src="/js/main.js"></script>    <!- global init -> -->
</html>
