<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <!-- <meta name='color-scheme' content='light dark' /> -->
    <link rel='stylesheet' href='static/pico.fuchsia.min.css' />
    <link rel='stylesheet' href='static/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.2"></script>
    <title>{{title}}</title>
  </head>
  <body>
    {{! Render the header partial }}
    {{> header}}

    <main>
      {{> ask-form}}
    </main>


    {{! Render the footer partial }}
    {{> footer}}
  </body>
</html>
