<html lang='en'>
  {{> head}}
  <body>
	<div class="back-link">
            <a class='internal-link back-button' href='/'>« Back to chat</a>
	</div>

    <main class='container greeting'>
      <img src='/static/beet_logo.png' alt='Beet AI' class='home-page-logo' />
      <p>Successfully logged out</p>
      <br>
      <a class='internal-link back-button' href='/login'>Login</a>
      <br>
      <a class='internal-link back-button' href='/'>Home</a>
      <br>
      <a class='internal-link back-button' href='https://github.com/zoeydawn/beet' target="_blank">Source code</a>
    </main>

    {{> footer}}
  </body>
</html>
