<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='stylesheet' href='static/pico.fuchsia.min.css' />
    <link rel='stylesheet' href='static/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <title>Login - {{title}}</title>
  </head>
  <body>
    <main id='login-container' class='container'>
	<div class="top-link">
            <a class='internal-link back-button' href='/'>« Back to chat</a>
	</div>
        <article>
            <hgroup>
                <h2>Login</h2>
                <h3>Access your chats</h3>
            </hgroup>
            <div class='grid'>
              <div class='col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4'>
                <form action="/login" method="post" hx-boost="false">
                    {{#if errorMessage}}
                        <p aria-invalid="true" role="alert">{{errorMessage}}</p>
                    {{/if}}
                    <input
                        type="text"
                        name="username"
                        placeholder="Username"
                        aria-label="Username"
                        autocomplete="username"
                        required
                    />
                    <input
                        type="password"
                        name="password"
                        placeholder="Password"
                        aria-label="Password"
                        autocomplete="current-password"
                        required
                    />
                    <button type="submit">Log in</button>
                    <!-- <small>For demo purposes, any username with password **'password'** will work.</small> -->
                </form>
              </div>
            </div>
        </article>
    </main>

    {{> footer}}

  </body>
</html>
