<html lang='en'>
  {{> head}}
  <body>
    <main id='login-container' class='container'>
	<div class="top-link">
            <a class='internal-link back-button' href='/'>« Back to chat</a>
	</div>
        <article id='login-form'>
		{{> create-account-form }}
        </article>
    </main>

    {{> footer}}

  </body>
</html>
