.chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  gap: 10px; /* Adds space between messages */
}

.assistant-message {
  margin: 20px 0 0;
  white-space: pre-wrap;
}

.message {
  max-width: 75%;
  padding: 12px 18px;
  border-radius: 25px; /* General roundedness */
  position: relative;
  word-wrap: break-word;
}

.message p {
  margin: 0;
}

/* -- Sent Message (Right) -- */
.sent {
  align-self: flex-end;
  background-color: var(--pico-primary-background);
  color: var(--pico-primary-inverse) !important;
  border-bottom-right-radius: 5px;
}

/* Create the pointy tail for sent messages */
.sent::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -8px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: var(--pico-primary-background);
  border-bottom-color: var(--pico-primary-background);
}

/* -- Received Message (Left) -- */
.received {
  background-color: var(--pico-contrast-background);
  color: var(--pico-contrast-inverse) !important;
  align-self: flex-start;
  /* Flatten the corner where the tail is */
  border-bottom-left-radius: 5px;
}

/* Create the pointy tail for received messages */
.received::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -8px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: var(--pico-contrast-background);
  border-bottom-color: var(--pico-contrast-background);
}

/* .container { */
/*   max-width: 950px; */
/* } */

/* @media (min-width: 1024px) { */
/*   .container { */
/*     max-width: 950px; */
/*   } */
/* } */
/**/
/* @media (min-width: 1280px) { */
/*   .container { */
/*     max-width: 950px; */
/*   } */
/* } */
/**/
/* @media (min-width: 1536px) { */
/*   .container { */
/*     max-width: 950px; */
/*   } */
/* } */

#drawer {
  position: fixed;
  top: 0;
  left: -250px; /* hidden by default */
  width: 250px;
  height: 100%;
  background: #000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  padding: 1rem;
  z-index: 1000;
}

#drawer.open {
  left: 0;
}

#sidebar {
  position: fixed;
  top: 0;
  width: 55px;
  height: 100%;
  background: #000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 900;
}

#menu-open-btn {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  text-decoration: none;
  font-size: 45;
}

#menu-close-btn {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  text-decoration: none;
  font-size: 45;
}

.internal-link {
  cursor: pointer;
}

.chat-list {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

#page-header-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #000;
  height: 75px;
}

#main {
  margin-top: 20px;
  margin-left: 55px;
}

.new-chat-button {
  text-decoration: none;
  font-size: 12px;
}

#new-chat-top-btn {
  position: fixed;
  top: 26px;
  right: 15px;
  z-index: 1000;
  padding: 8px 12px;
  border-radius: 25%;
  background-color: #000;
}

#ask-form {
  padding: 150px 0 100px 0;
  /* position: relative; */
}

#chat {
  /* position: relative; */
  margin-top: 20px;
}

#model-select {
  position: fixed;
  top: 20px;
  left: 70px;
  width: 220px;
  font-size: 12px;
  background-color: #000;
  color: var(--pico-primary-background);
}

@media (min-width: 576px) {
  #model-select {
    left: 100px;
  }

  #new-chat-top-btn {
    right: 50px;
  }
}

@media (min-width: 1280px) {
  #model-select {
    left: 200px;
  }

  #new-chat-top-btn {
    right: 150px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: calc(100% - 24px);
    margin-left: 12px;
    margin-right: 12px;
  }

  /* TODO: handle sidebar style for small screens  */
}
